@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 1000px;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Microsoft Edge */
}

*::-webkit-scrollbar {
  display: none;
}
